# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac system files
.DS_Store

# Vim plugin flies
.ycm_extra_conf.*

# Pages
*.pages
